{
  "name": "{{ name }}",
  "version": "1.0.0",
  "description": "Skylinks {{ title }} System",
  "main": "index.js",
  "scripts": {
    "test": "playwright test"
  },
  "devDependencies": {
    "@playwright/test": "^1.40.0"
  },
  "dependencies": {
    "airtable": "^0.12.2",
    "dotenv": "^17.2.3"
  }
}
